.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto
}

h1 {
    color:rgb(36, 40, 99)
}

input {
    width: 35%;
    height: 40px;
    border-radius: 25px;
    font-size: 18px;
    padding-left: 20px;
    border: 2px solid rgb(36, 40, 99);
    color: rgb(97, 105, 116);
}

input:focus {
    outline: none;
}


h3 {
    font-size: 45px;
    color:rgb(36, 40, 99)

}

ul {
    padding-left: 0
}

li {
    list-style-type: none;
    text-align: center;
    color: rgb(97, 105, 116);
    line-height: 2;

}

p {
    position: absolute;
    bottom: 10px;
    font-size: 10px
}